.more-meetings {
  background-color: gold !important;
  border-radius: 50%;
  color: #333;
  font-weight: bold;
}
.meeting-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 4px solid goldenrod;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: inline-block;
  margin: 10px
}

.meeting-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.meeting-box button {
  margin-top: 0.5rem;
  padding: 5px 10px;
  background: goldenrod;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.meeting-box button:hover {
  background: #c49200;
}
